In [3]:
a="abcd"

In [12]:
list=(1234,43,434,"aba")
e=list

In [3]:
c=3.14

In [1]:
b=(12,"asd",43,"vdv",34)

In [1]:
var1=''

In [2]:
var2='[DS,ML,python]'
var3=['DS','ML','Python']
var4=1

In [4]:
type(var1)

str

In [5]:
type(var2)

str

In [6]:
type(var3)

list

In [7]:
type(var4)

int

In [21]:
32/3 #divison

10.666666666666666

In [19]:
1234656.115%2.25 # Remainder of a divison

0.11499999999068677

In [20]:
32//3 # For rounding figuer when dividing

10

In [23]:
2**5 # first int raised to power with second int

32

In [9]:
list=[23,"back",67,"salary",799,100.789,"abdas",45.12,"quenched",454]

In [23]:

for item in list:
    print (item,type(item))

23 <class 'int'>
back <class 'str'>
67 <class 'int'>
salary <class 'str'>
799 <class 'int'>
100.789 <class 'float'>
abdas <class 'str'>
45.12 <class 'float'>
quenched <class 'str'>
454 <class 'int'>

In [4]:
A=int(input("Enter number"))
B=int(input("Enter 2 number"))
count=int(0)
while A%B==0:
    A=A/B
    count=count+1
    print(count)

Enter number 1000000
Enter 2 number 2

1
2
3
4
5
6

In [9]:
result_list = [a for a in range(24)]
for num in result_list:
    if num%3==0:
        print((num),"Divisble")
    else:
        print(num,"Not divisble ")

0 Divisble
1 Not divisble
2 Not divisble
3 Divisble
4 Not divisble
5 Not divisble
6 Divisble
7 Not divisble
8 Not divisble
9 Divisble
10 Not divisble
11 Not divisble
12 Divisble
13 Not divisble
14 Not divisble
15 Divisble
16 Not divisble
17 Not divisble
18 Divisble
19 Not divisble
20 Not divisble
21 Divisble
22 Not divisble
23 Not divisble

In [10]:
#Mutable data type include lists as they can be modified after initalizing of the list 
result_list[5]=121231111

In [11]:
print(result_list)

[0, 1, 2, 3, 4, 121231111, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23]

In [15]:
#immutable data type include int,string,float as they do not modified data they replace it with new data in that location 
a=132
b="adf"
c=12.12
print (type(a))
print (type(b))
print (type(c))

<class 'int'>
<class 'str'>
<class 'float'>

In [16]:
a="adad"
b=78.94
c=154
print(type(a),type(b),type(c))

<class 'str'> <class 'float'> <class 'int'>